.tm-social {
    width: 140px;
    height: 100px;
}
.tm-logo{
    width: 40px;
    height: 40px;
}

.tamanho:hover {
    width: 415px;
    height: 259px;
    transition-duration: 3s;
    transition-delay: 50ms;
}
.menu:hover{
    text-decoration: none;
    color: rgb(59, 58, 58);
    font-size: 30px;
}

.bolofofo{
    width: 600px;
    height: 300px;
}

.meio{
  
    flex-flow: row;
    justify-content: center;
    align-items: center;
}